<div class="row header">
    <div class="col md8">
        <a href="/" class="btn home-btn">home/login</a>
    </div>

    <ul class="col md4">
        <!-- social icons -->
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-instagram fa-2x"></a>
        <a href="#" class="fa fa-youtube fa-2x"></a>
    </ul>

</div>

<main>

    <div class="row center">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="card sticky-action z-depth-4 card-panel hoverable" style=" margin : 0px; padding : 2px">

                <!-- artist search form -->
                <form>
                    <div class="card-content">
                        <div class="row center-align">
                            <h2>
                                Artist Search
                            </h2>
                            <span class="card-title grey-text text-darken-4 center-align">Type in the name of the artist or band and see where they are performing next.</span>

                            <div class="input-field col s12">
                                <i class="material-icons prefix center">account_circle</i>
                                <input id="name" type='text' name='artist-name' class="validate left-align" required="true" placeholder="type"/>
                                <label for="name" class="left-align">
                                </label>
                            </div>

                        </div>

                        <input type="submit" class="waves-effect waves-light btn" value='Search' id="submit">
                        </input>

                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<div class="container">
     <h2 class="artistName"></h2>
     <div class = "bandimg"> </div>
    <div class="row">
    <div id="events"></div>
</div>
</div>


<!-- filler rows -->
<div class="row">
    <div class="col sm12"></div>
</div>
<div class="row">
    <div class="col sm12"></div>
</div>

<!-- footer -->
<footer>
    <div class="row">
        <div class="container footer">
            <span>© 2018 App Name Here</span>

        </div>
    </div>
</footer>