 <nav class="grey darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="btn home-btn">Logo</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
    </div>

  

</nav>

  <!-- social icons -->

  {{!-- <ul class="col md4">
      
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-instagram fa-2x"></a>
        <a href="#" class="fa fa-youtube fa-2x"></a>
    </ul> --}}

<main  class="main-box">

    <div class="row center">
        <div class="col s12 m10 offset-m1 l6 offset-l3">
            <div class="card sticky-action z-depth-4 card-panel hoverable" style=" margin : 0px; padding : 2px">

                <!-- artist search form -->
                <form>
                    <div class="card-content">
                        <div class="row center-align">
                            <h2>
                                Artist Search
                            </h2>
                            <span class="card-title grey-text text-darken-4 center-align">Type in the name of the artist or band and see where they are performing next.</span>

                            <div class="input-field col s12">
                                <input id="name" type='text' name='artist-name' class="validate left-align" required="true" placeholder="type"/>
                                <label for="name" class="left-align">
                                </label>
                            </div>

                        </div>

                        <input type="submit" class="waves-effect waves-light btn" value='Search' id="submit">
                        </input>

                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<div class="container">
     <h2 class="artistName"></h2>
     <div class = "bandimg"> </div>
    <div class="row">
    <div id="events"></div>
</div>
</div>


<!-- filler rows -->
<div class="row">
    <div class="col sm12"></div>
</div>
<div class="row">
    <div class="col sm12"></div>
</div>

<!-- footer -->
<footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col s12 l6">
                <a href="#" class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                  
                  <!-- social icons -->

  <ul class="col md4">
      
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-instagram fa-2x"></a>
        <a href="#" class="fa fa-youtube fa-2x"></a>
    </ul>
            
            </div>
          </div>
        </footer>