body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("../assets/color_concert.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  main {
    flex: 1 0 auto;
  }

  .row .col {
    margin-top: 4%;

  }

  .card {
      text-align: center;
      border-radius: 10px;
      /* background: #eceff1; */
      background: #e3f2fd;
  }

  .footer {
    color: white;
    text-align: center;
  }

  .fa {
    color: white;
    width: 40px; height: 30px; margin: 0 20px 20px 0;

  }
.header {
margin-right: 0;

}

.home-btn {
  margin-left: 0
}

#events {
  font-size: 15px;
  text-align: center;
  float: left;
  background-color: white;
  

}

.artistName  {
  color: white;
  text-align: center;
}

#mapRow {
  margin-bottom: 0px;
}